@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap");

/* variables */
:root {
  --green: #2a9d8f;
  --mint-white: #f5fffe;
  --blue: #264653;
  --yellow: #e9c46a;
  --orange: #f4a261;
  --red: #e76f51;
}
.Toastify__toast--error {
  border: 1px solid var(--mint-white);
  border-radius: 10px !important;
  background: var(--red) !important;
}
.Toastify__toast--error::after {
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  padding-top: 14px !important;
}
.Toastify__toast--error::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}
.Toastify__toast--success {
  border: 1px solid var(--mint-white) !important;
  border-radius: 10px !important;
  background: var(--green) !important;
}
.Toastify__toast--success::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}
.Toastify__toast--success::after {
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  padding-top: 14px !important;
}
.Toastify__toast--warning {
  border: 1px solid #e78326 !important;
  border-radius: 50px !important;
  background: #fadfc5 !important;
}
.Toastify__toast--warning::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}
.Toastify__toast--warning::after {
  position: absolute;
  color: #e78326;
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  padding-top: 14px !important;
}
.Toastify__toast-body {
  color: var(--mint-white);
  font-size: 16px;
  padding-left: 20px;
  line-height: 20px;
  padding: 0px;
  padding-top: 25px;
  width: 100%;
  font-weight: 400;
  margin-left: 25px !important;
}
.Toastify__toast > button > svg {
  display: none;
}

/* test */

/* general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}
h1 {
  color: var(--blue);
}
h2 {
  color: var(--blue);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  background-color: var(--mint-white);
}
input {
  padding: 15px;
  outline: none;
  border: 1px solid var(--blue);
  background-color: white;
  padding-left: 45px;
  font-size: 1.1rem;
  transition: border-color 0.1s ease;
}
.noScrollY {
  overflow-y: hidden;
}
/* input:hover {
  border-color: var(--green);
} */
input:focus {
  border-color: var(--green);
  background-color: white !important;
}
::placeholder {
  font-family: "Poppins", sans-serif;
}
/* buttons */
.btn {
  background-color: var(--red);
  color: white;
  outline: none;
  border: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.1s ease;
}
.btn-secondary {
  background-color: var(--blue);
}
.btn-green {
  background-color: var(--green);
}
.btn-not-active {
  background-color: var(--mint-white);
  color: var(--blue);
  border: 1px solid var(--blue);
  opacity: 0.5;
}
.btn:hover {
  background-color: var(--orange);
}
/* navbar */
.hamburger {
  display: none;
  cursor: pointer;
  transition: color 0.1s ease;
  font-size: 2.6rem;
  margin-right: 5px;
  color: var(--mint-white);
}
.hamburger:hover {
  color: var(--orange);
}
.navbarContainer {
  display: flex;
  align-items: center;
  background-color: var(--green);
  padding: 30px;
  border-bottom: 6px solid var(--red);
  background-image: linear-gradient(
    to right,
    #264653,
    #264653,
    #264653,
    #264653,
    #264653,
    #24424e,
    #213d4a,
    #1f3945,
    #1a303a,
    #142730,
    #0f1e26,
    #08161c
  );
}
.mainLogoContainer {
  font-size: 2rem;
  font-weight: bold;
  margin-right: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.mainLogo {
  width: 250px;
}
.mainLogo img {
  width: 100%;
}
.logoImg {
  width: 260px;
}
.mainLogoIcon {
  font-size: 60px;
  color: var(--mint-white);
}
.mainLogo span {
  text-decoration: underline;
}
.signInLink,
.signUpLink {
  margin: 0 5px;
}
.navbarDisplayName {
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.1s ease;
  display: flex;
  align-items: center;
}
.navbarDisplayName:hover {
  color: var(--orange);
}
.navbarDisplayName:hover .profilePictureContainerNavbar {
  border-color: var(--orange);
}
.userNameAndPictureLi {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s ease;
  padding: 5px;
}
/* .profilePictureContainerNavbar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./assets/png/blank_profile.png") center no-repeat;
  background-size: cover;
  border: 1px solid var(--blue);
  border-radius: 50%;
  margin-right: 8px;
} */
.profilePictureContainerNavbar {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--blue);
  background: url("./assets/png/blank_profile.png") center no-repeat;
  background-size: cover;
  margin-right: 8px;
  position: relative;
}
.profilePictureContainerNavbar img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.logoutBtn {
  /* background-color: var(--blue); */
  color: var(--orange);
  height: 35px;
  width: 35px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.1s ease;
}
.logoutIcon {
  font-size: 1.7rem;
}
.logoutBtn:hover {
  color: var(--mint-white);
}

/* home */
.home {
  border-top: 6px solid var(--yellow);
  border-bottom: 6px solid var(--yellow);
  min-height: 100vh;
}
.home::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5fffe;
  opacity: 0.1;
  z-index: -1;
  background-image: linear-gradient(
      30deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      150deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      30deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      150deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      60deg,
      #2a9d8f77 25%,
      transparent 25.5%,
      transparent 75%,
      #2a9d8f77 75%,
      #2a9d8f77
    ),
    linear-gradient(
      60deg,
      #2a9d8f77 25%,
      transparent 25.5%,
      transparent 75%,
      #2a9d8f77 75%,
      #2a9d8f77
    );
  background-size: 58px 102px;
  background-position: 0 0, 0 0, 29px 51px, 29px 51px, 0 0, 29px 51px;
}

.homeContainer {
  display: flex;
  margin: 100px auto;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 80%;
  max-width: 1400px;
  padding: 50px;
}
.homeTextContainer {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.homeMainText {
  font-size: 2.8rem;
}
.homeParagraph {
  margin-top: 50px;
  margin-bottom: 10px;
  color: var(--blue);
}
.mobileIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 20px;
}
.mobileIconsText {
  color: var(--yellow);
  margin-right: 12px;
  font-size: 0.8rem;
}
.mobileIcon {
  color: var(--green);
  transition: color 0.1s ease;
  cursor: pointer;
  margin: 0 2px;
}
.mobileIcon:hover {
  color: var(--yellow);
}
.homeImageContainer {
  width: 50%;
}
.homeImage {
  width: 100%;
}
/* testimonials slider */
.wrapper {
  max-width: 1400px;
  width: 80%;
  margin: 100px auto;
  padding: 80px 50px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  animation: fadeIn 300ms ease-in;
}
.slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--mint-white);
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 20px;
  padding: 30px;
}
.testimonialMainTitle {
  text-align: center;
  font-size: 2.2rem;
  margin-top: -20px;
  margin-bottom: 50px;
}
.container {
  width: 200px;
  border: 2px solid black;
  overflow: hidden;
  margin: auto;
}
.image-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 200px;
}
.image-container img {
  width: 100%;
}
/* testimonials */
.testimonialContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  animation: fadeIn 300ms ease-in;
  padding: 100px 50px;
}
.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  max-width: 300px;
  padding: 30px;
  margin: 10px;
  /* border: 1px solid var(--green); */
  background-color: var(--mint-white);
  color: var(--blue);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: transform 0.1s ease;
  border-radius: 20px;
}
.testimonial:hover {
  transform: scale(1.02);
}
.ratingContainer {
  margin-bottom: 15px;
  color: var(--yellow);
  stroke: var(--blue);
  font-size: 1.2rem;
}
.testimonialImageContainer {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid var(--red);
  overflow: hidden;
}
.testimonialImageContainer img {
  width: 100%;
  object-fit: contain;
}
.testimonialName {
  margin-top: 10px;
  font-size: 0.8rem;
}
.testimonialJob {
  margin-top: 10px;
  font-size: 0.8rem;
  color: var(--mint-white);
  background-color: var(--blue);
  padding: 5px 15px;
  letter-spacing: 2px;
}
.testimonialContent {
  position: relative;
  margin-top: 40px;
}
.quote1 {
  position: absolute;
  font-size: 6rem;
  opacity: 0.2;
  top: -50px;
  font-family: "Times New Roman", Times, serif;
  color: var(--green);
}
.quote2 {
  position: absolute;
  font-size: 6rem;
  opacity: 0.2;
  bottom: -80px;
  left: 190px;
  font-family: "Times New Roman", Times, serif;
  color: var(--green);
}
/* devices */
.secondaryHomeContainer {
  padding: 0;
  overflow: hidden;
  animation: fadeIn 300ms ease-in;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.secondaryHomeImageContainer {
  border-left: 5px solid var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}
.secondaryHomeMainText {
  color: var(--mint-white);
}
.secondaryHomeParagraph {
  color: var(--mint-white);
}
.piggyImage {
  padding: 40px;
  min-width: 400px;
}
.secondaryTextContainer {
  align-self: stretch;
  display: flex;
  justify-content: center;
  border-right: 5px solid var(--red);
}
.darkBack {
  background-color: var(--blue);
}
.devicesContainer {
  padding: 0;
  overflow: hidden;
  margin: 100px auto;
  animation: fadeIn 300ms ease-in;
}
.devicesTextContainer {
  background-color: var(--blue);
  align-self: stretch;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-left: 5px solid var(--red);
}
.mobileContainer {
  overflow: hidden;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deviceImg {
  width: 100%;
  min-width: 300px;
  transition: padding 0.1s ease;
}
.tabletContainer {
  border-right: 5px solid var(--yellow);
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.devicesMainText {
  background-color: var(--blue);
  color: var(--mint-white);
  align-self: stretch;
  display: flex;
  align-items: center;
  /* padding: 20px; */
  font-size: 2.4rem;
}
/* profile */
.profileContainer {
  border-top: 6px solid var(--yellow);
  border-bottom: 6px solid var(--yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.profileContainer::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5fffe;
  opacity: 0.1;
  z-index: -1;
  background-image: linear-gradient(
      30deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      150deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      30deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      150deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      60deg,
      #2a9d8f77 25%,
      transparent 25.5%,
      transparent 75%,
      #2a9d8f77 75%,
      #2a9d8f77
    ),
    linear-gradient(
      60deg,
      #2a9d8f77 25%,
      transparent 25.5%,
      transparent 75%,
      #2a9d8f77 75%,
      #2a9d8f77
    );
  background-size: 58px 102px;
  background-position: 0 0, 0 0, 29px 51px, 29px 51px, 0 0, 29px 51px;
}
.profileTitle {
  font-size: 2rem;
  margin: 30px 0;
}
.profileHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 80%;
  max-width: 1400px;
  padding: 20px 30px;
  margin-top: 30px;
  color: transparent;
  animation: fadeIn 300ms ease-in;
}
.editModeActive {
  background-color: #f6f6f6;
  border: 1px solid var(--green);
}
.progressContainer {
  height: 5px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 50px;
}
.progress {
  height: 100%;
  background-color: var(--green);
  /* color: transparent; */
  margin: 10px 0;
}
/* .profilePictureContainer {
  width: 100px;
  height: 100px;
  background: url("./assets/png/blank_profile.png") center no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 50%;
} */
.profilePictureContainer {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid var(--blue);
  background: url("./assets/png/blank_profile.png") center no-repeat;
  background-size: cover;
  /* background-color: black; */
  position: relative;
}
.profilePictureContainer img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.profilePictureContainer > input {
  display: none;
}
.profileName {
  width: 100%;
  border: none;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bolder;
  color: var(--blue);
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid transparent;
}
.profileEmail {
  width: 100%;
  border: none;
  letter-spacing: 2px;
  text-align: center;
  color: var(--blue);
  padding: 5px;
  border: 1px solid transparent;
  background-color: transparent;
}
.deleteProfile {
  color: var(--red);
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 20px;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.1s ease;
}
.deleteProfile:hover {
  opacity: 1;
}
.profileName:focus {
  border: 1px solid var(--green);
}
.profileEmail:focus {
  border: 1px solid var(--green);
}
.inputActive {
  background-color: #ccc;
}
.editProfileIcon {
  position: absolute;
  top: 6px;
  right: 8px;
  font-size: 1.5rem;
  color: var(--red);
  cursor: pointer;
  transition: color 0.1s ease;
}
.editProfileIconTick {
  color: green;
}
.editProfileIconTick:hover {
  color: lime !important;
}
.editProfileIcon:hover {
  color: var(--orange);
}
.profileForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 80%;
  max-width: 1400px;
  padding: 20px;
  margin-top: 30px;
  animation: fadeIn 300ms ease-in;
}
.buttonContainer {
  display: flex;
  width: 300px;
  min-width: 250px;
  justify-content: space-between;
}
.buttonContainer div {
  margin-bottom: 10px;
  padding: 10px 30px;
}
.profileForm input {
  margin: 10px 0;
  min-width: 250px;
  width: 50%;
}
.profileForm input {
  margin: 10px 0;
  width: 100%;
  min-width: 250px;
  max-width: 600px;
}
.expenseTitleDiv {
  width: 100%;
  min-width: 250px;
  max-width: 600px;
}
.expenseIncomeAmountDiv {
  width: 100%;
  min-width: 250px;
  max-width: 600px;
}
#expenseIncomeTitle {
  /* this is a font awesome icon https://fontawesome.com/license */
  background: url("./assets/svg/pen.svg") #ffffff 2.5% center no-repeat;
  background-size: 20px 20px;
  width: 100%;
}
#expenseIncomeAmount {
  /* this is a font awesome icon https://fontawesome.com/license */
  background: url("./assets/svg/euro.svg") #ffffff 2.5% center no-repeat;
  background-size: 20px 20px;
  width: 100%;
}
#expenseDate {
  cursor: pointer;
}
.addBtn {
  margin: 10px 0;
  width: 100%;
  min-width: 250px;
  max-width: 600px;
}
.profileExpenses {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 80%;
  max-width: 1400px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 200px;
  position: relative;
  animation: fadeIn 300ms ease-in;
}
.clearAllIcon {
  position: absolute;
  top: 6px;
  right: 8px;
  font-size: 1.5rem;
  color: var(--blue);
  opacity: 0.6;
  cursor: pointer;
  transition: color 0.1s ease;
}
.clearAllIcon:hover {
  color: var(--orange);
  opacity: 1;
}
.totalsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}
.totalsContainer h4 {
  color: var(--blue);
}
.totalsContainer h3 {
  color: var(--blue);
}
.balanceAmount {
  margin-left: 5px;
  font-size: 2rem;
}
.expensesList {
  width: 100%;
}
.expenseItem {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid var(--blue);
  /* border-radius: 10px; */
  color: var(--blue);
  padding: 2px 10px;
  width: 100%;
  margin: 15px 0;
  font-weight: bold;
  background-color: var(--mint-white);
  cursor: pointer;
  transition: background-color 0.1s ease;
  /* -----> remove this later <------ */
  border-left: 6px solid var(--red);
}

.expenseItemTitle {
  margin: auto;
}

.negativeColor {
  color: var(--red);
}
.incomeColor {
  color: var(--green);
}
.positiveColor {
  color: var(--green);
}
.deleteIcon {
  font-size: 1.5rem;
  color: var(--blue);
  opacity: 0.6;
  margin-left: 25px;
  transition: color 0.1s ease;
  transition: opacity 0.1s ease;
}
.deleteIcon:hover {
  color: var(--orange);
  opacity: 1;
}
.expenseItemDate {
  position: relative;
}
.date-as-calendar {
  display: flex;
  font-size: 0.7rem;
  padding: 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 6px;
  opacity: 0.6;
  transition: opacity 0.1s ease;
  /* border: 1px solid var(--blue); */
}
.expenseItem:hover .date-as-calendar {
  opacity: 1;
}
.day {
  font-size: 1.2rem;
}

/* sign-in & sign-out*/
.signUpContainer {
  border-top: 6px solid var(--yellow);
  border-bottom: 6px solid var(--yellow);
  min-height: 100vh;
}
.signUpContainer::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5fffe;
  opacity: 0.1;
  z-index: -1;
  background-image: linear-gradient(
      30deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      150deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      30deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      150deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      60deg,
      #2a9d8f77 25%,
      transparent 25.5%,
      transparent 75%,
      #2a9d8f77 75%,
      #2a9d8f77
    ),
    linear-gradient(
      60deg,
      #2a9d8f77 25%,
      transparent 25.5%,
      transparent 75%,
      #2a9d8f77 75%,
      #2a9d8f77
    );
  background-size: 58px 102px;
  background-position: 0 0, 0 0, 29px 51px, 29px 51px, 0 0, 29px 51px;
}
.signInContainer::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5fffe;
  opacity: 0.1;
  z-index: -1;
  background-image: linear-gradient(
      30deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      150deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      30deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      150deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      60deg,
      #2a9d8f77 25%,
      transparent 25.5%,
      transparent 75%,
      #2a9d8f77 75%,
      #2a9d8f77
    ),
    linear-gradient(
      60deg,
      #2a9d8f77 25%,
      transparent 25.5%,
      transparent 75%,
      #2a9d8f77 75%,
      #2a9d8f77
    );
  background-size: 58px 102px;
  background-position: 0 0, 0 0, 29px 51px, 29px 51px, 0 0, 29px 51px;
}
.signInContainer {
  border-top: 6px solid var(--yellow);
  border-bottom: 6px solid var(--yellow);
  min-height: 100vh;
}
.signInForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  width: 80%;
  background-color: #ffffff;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 50px;
  padding: 20px;
  padding-top: 50px;
  margin-bottom: 50px;
  animation: fadeIn 300ms ease-in;
}
.signInUpTitle {
  font-size: 2rem;
  margin: 30px 0;
  text-align: center;
}
/* .emailDiv {
  width: 80%;
  width: 100%;
}
.passwordDiv {
  width: 80%;
  width: 100%;
}
.nameDiv {
  width: 80%;
  width: 100%;
} */
.signInOutEmail {
  background: url("./assets/svg/personIcon.svg") #ffffff 2.5% center no-repeat;
  margin: 10px 0;
  width: 350px;
}
.signInOutPassword {
  background: url("./assets/svg/lockIcon.svg") #ffffff 2.5% center no-repeat;
  margin: 10px 0;

  width: 350px;
}
.signInOutName {
  background: url("./assets/svg/badgeIcon.svg") #ffffff 2.5% center no-repeat;
  margin: 10px 0;
  width: 350px;
}
.passwordDiv {
  position: relative;
}
.passwordDiv,
.emailDiv,
.nameDiv {
  margin-top: 10px;
}
.showPassword {
  cursor: pointer;
  position: absolute;
  top: 12%;
  right: 1%;
  padding: 1rem;
}
.signInUpBtn {
  margin-top: 200px;
  max-width: 350px;
  width: 100%;
}
.forgotPassword {
  color: var(--green);
  transition: color 0.1s ease;
  margin-top: 10px;
}
.forgotPassword:hover {
  color: var(--blue);
}
.signInUpInstead {
  color: var(--green);
  transition: color 0.1s ease;
  margin-top: 20px;
}
.signInUpInstead:hover {
  color: var(--blue);
}
/* forgot password */
.forgotPasswordContainer {
  border-top: 6px solid var(--yellow);
  border-bottom: 6px solid var(--yellow);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forgotPasswordContainer::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5fffe;
  opacity: 0.1;
  z-index: -1;
  background-image: linear-gradient(
      30deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      150deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      30deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      150deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      60deg,
      #2a9d8f77 25%,
      transparent 25.5%,
      transparent 75%,
      #2a9d8f77 75%,
      #2a9d8f77
    ),
    linear-gradient(
      60deg,
      #2a9d8f77 25%,
      transparent 25.5%,
      transparent 75%,
      #2a9d8f77 75%,
      #2a9d8f77
    );
  background-size: 58px 102px;
  background-position: 0 0, 0 0, 29px 51px, 29px 51px, 0 0, 29px 51px;
}
.forgotPasswordTitle {
  font-size: 2rem;
  margin: 30px 0;
  text-align: center;
}
.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  width: 80%;
  background-color: #ffffff;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 50px;
  padding: 50px;
  animation: fadeIn 300ms ease-in;
}
.forgotPasswordBtn {
  margin-top: 200px;
  width: 350px;
}
/* footer */
.footerContainer {
  display: flex;
  justify-content: center;
  min-height: 150px;
  align-items: center;
  background-color: var(--blue);
  padding: 30px;
  border-top: 6px solid var(--red);
  position: relative;
  background-image: linear-gradient(
    to right,
    #264653,
    #264653,
    #264653,
    #264653,
    #264653,
    #24424e,
    #213d4a,
    #1f3945,
    #1a303a,
    #142730,
    #0f1e26,
    #08161c
  );
}
.footerLinksContainer {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  color: var(--mint-white);
  margin-top: 120px;
  margin-bottom: 100px;
}
.footerPageHeader {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--red);
  margin-bottom: 15px;
}
.footerPage {
  color: var(--mint-white);
  cursor: pointer;
  transition: color 0.1s ease;
  margin-bottom: 3px;
  font-size: 1.2rem;
}
.footerPage:hover {
  color: var(--yellow);
}
.copyrightContainer {
  position: absolute;
  width: 100%;
  bottom: 7px;
  display: flex;
  justify-content: center;
  /* left: 50%;
  transform: translateX(-50%); */
  color: var(--mint-white);
}
.copyrightContainer a {
  color: var(--mint-white);
  transition: color 0.1s ease;
  margin-left: 12px;
}
.copyrightContainer a:hover {
  color: var(--yellow);
}
.footerLogoContainer {
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 0;
}
.socialLinksContainer {
  text-align: center;
  margin-top: 5px;
}
.socialLink {
  font-size: 2rem;
  color: var(--green);
  transition: color 0.1s ease;
  margin: 0 5px;
}
.socialLink:hover {
  color: var(--yellow);
}
/* not found */
.opactity05 {
  opacity: 0.5;
}
.notFoundContainer {
  border-top: 6px solid var(--yellow);
  border-bottom: 6px solid var(--yellow);
  min-height: 100vh;
}
.notFoundContainer::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5fffe;
  opacity: 0.1;
  z-index: -1;
  background-image: linear-gradient(
      30deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      150deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      30deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      150deg,
      #2a9d8f 12%,
      transparent 12.5%,
      transparent 87%,
      #2a9d8f 87.5%,
      #2a9d8f
    ),
    linear-gradient(
      60deg,
      #2a9d8f77 25%,
      transparent 25.5%,
      transparent 75%,
      #2a9d8f77 75%,
      #2a9d8f77
    ),
    linear-gradient(
      60deg,
      #2a9d8f77 25%,
      transparent 25.5%,
      transparent 75%,
      #2a9d8f77 75%,
      #2a9d8f77
    );
  background-size: 58px 102px;
  background-position: 0 0, 0 0, 29px 51px, 29px 51px, 0 0, 29px 51px;
}
.notFoundImgContainer {
  width: 80%;
  max-width: 600px;
  min-width: 300px;
}
.notFoundImg {
  width: 100%;
}
.notFoundBox {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 80%;
  max-width: 1400px;
  padding: 20px 30px;
  margin-top: 30px;
  color: var(--blue);
  animation: fadeIn 300ms ease-in;
}
.notFoundTitle {
  font-size: 2rem;
  margin: 30px 0;
  margin-bottom: 0px;
}
.notFoundBtn {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* menu */
.menu {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border: 1px solid var(--blue);
  border-left: none;
  left: 0;
  transition: left 0.2s ease-in-out;
  z-index: 999;
}
.hideMenu {
  left: -9999px;
}
.closeIcon {
  font-size: 3.2rem;
  color: var(--blue);
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  transition: color 0.1s ease;
}
.closeIcon:hover {
  color: var(--orange);
}
.menuList {
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menuList li {
}
.menuSignInUpLinks {
  display: flex;
  margin-bottom: 80px;
}
.signInLinkMenu {
  margin-right: 10px;
}
.menuLink {
  cursor: pointer;
  margin-top: 40px;
  font-size: 1.2rem;
  transition: color 0.1s ease;
}
.menuLink:hover {
  color: var(--orange);
}
.menuUserNameAndPictureLi {
  display: flex;
  align-items: center;
}
.menuDisplayNameContainer {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease;
}
.menuDisplayNameContainer:hover {
  color: var(--orange);
}
.menuDisplayNameContainer:hover .profilePictureContainerMenu {
  border-color: var(--orange);
}
.profilePictureContainerMenu {
  width: 100px;
  height: 100px;
  border: 2px solid var(--blue);
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.1s ease;
}
.profilePictureContainerMenu img {
  width: 100%;
}
.menuDisplayName {
  font-size: 1.2rem;
  margin-left: 10px;
}
.menuLogoutBtn {
  cursor: pointer;
  margin-top: 20px;
}
.menuLogoutIcon {
  font-size: 2rem;
  color: var(--orange);
  transition: color 0.1s ease;
}
.menuLogoutIcon:hover {
  color: var(--blue);
}
/* spinner */
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: var(--mint-white);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingSpinner {
  width: 120px;
  height: 120px;
  border: 10px solid;
  border-color: var(--green) transparent var(--green) transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.borderPulsate {
  animation: borderPulsate 1s infinite;
}

@keyframes borderPulsate {
  0% {
    border-color: var(--green);
  }
  50% {
    border-color: #70c8be;
    opacity: 0.7;
  }
  100% {
    border-color: var(--green);
  }
}
/* media queries */
@media (max-width: 1000px) {
}
@media (max-width: 900px) {
  .secondaryHomeContainer {
    flex-direction: column;
  }
  .secondaryTextContainer {
    flex: 1;
    width: 100%;
    height: 300px;
    border-bottom: 5px solid var(--red);
    border-right: none;
  }
  .secondaryHomeImageContainer {
    flex: 1;
    width: 100%;
    height: 300px;
    border-top: 5px solid var(--yellow);
    border-left: none;
  }
  .piggyImage {
    width: 100%;
  }
  .devicesContainer {
    flex-direction: column-reverse;
  }
  .devicesTextContainer {
    position: relative;
    border-bottom: 5px solid var(--yellow);
    border-left: none;
    padding: 50px;
    width: 100%;
  }
  .devicesTextContainer:before {
    content: " ";
    position: absolute;
    top: 5px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-bottom: 5px solid var(--red);
  }
  .mobileContainer {
    margin: auto;
  }
  .tabletContainer {
    margin: auto;
    border-right: none;
  }
  .totalsContainer {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
  .totalsContainer h3 {
    margin: 30px 0;
  }
}
@media (max-width: 800px) {
}
@media (max-width: 700px) {
  ul.navbarContainer {
    background-color: var(--blue);
    background-image: none;
  }
  footer.footerContainer {
    background-color: var(--blue);
    background-image: none;
  }
  .footerLinksContainer {
    margin-top: 190px;
  }
}
@media (max-width: 600px) {
  * {
    letter-spacing: 0;
  }
  .signInLink,
  .signUpLink,
  .userNameAndPictureLi,
  .logoutBtn {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .navbarContainer {
    padding: 30px 0;
  }
  .mainLogoContainer {
    margin-left: -25px;
  }
  .homeContainer {
    width: 96%;
  }
  .profileHeader,
  .profileForm,
  .profileExpenses,
  .signInForm,
  .notFoundBox {
    width: 96%;
  }
}
@media (max-width: 500px) {
  .homeTextContainer {
    padding: 30px;
  }
  .devicesTextContainer {
    padding: 30px;
  }
  .testimonialContainer {
    padding: 50px 30px;
  }
  .totalsContainer h3 {
    font-size: 1.2rem;
  }
  .totalsContainer h4 {
    font-size: 1rem;
  }
  .balanceAmount {
    font-size: 1.2rem;
  }
  input {
    font-size: 0.8rem;
  }
  .notFoundBtn {
    margin-top: 0;
  }
}
@media (max-width: 450px) {
  .secondaryHomeMainText {
    font-size: 2.3rem;
  }
  .devicesMainText {
    font-size: 2rem;
  }
  .copyrightContainer {
    font-size: 0.8rem;
  }
  .buttonContainer {
    justify-content: center;
  }
  .buttonContainer .btn-secondary {
    margin-right: 5px;
  }
  .expenseItem {
    font-size: 0.9rem;
  }
  .deleteIcon {
    margin-left: 10px;
  }
}
@media (max-width: 400px) {
  .signInOutEmail,
  .signInOutPassword,
  .signInOutName {
    width: 100%;
  }
}
