@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap");

/* variables */
:root {
  --green: #2a9d8f;
  --mint-white: #f5fffe;
  --blue: #264653;
  --yellow: #e9c46a;
  --orange: #f4a261;
  --red: #e76f51;
}

/* general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  background-color: var(--mint-white);
}
input {
  padding: 15px;
  outline: none;
  border: 1px solid var(--blue);
  background-color: white;
  padding-left: 45px;
  font-size: 1.1rem;
  transition: border-color 0.1s ease;
}
/* input:hover {
  border-color: var(--green);
} */
input:focus {
  border-color: var(--green);
  background-color: white !important;
}
::placeholder {
  font-family: "Poppins", sans-serif;
}
/* buttons */
.btn {
  background-color: var(--red);
  color: white;
  outline: none;
  border: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.1s ease;
}
.btn-secondary {
  background-color: var(--blue);
}
.btn-not-active {
  background-color: var(--mint-white);
  color: black;
  border: 1px solid var(--blue);
  opacity: 0.5;
}
.btn:hover {
  background-color: var(--orange);
}
/* navbar */
.navbarContainer {
  display: flex;
  align-items: center;
  background-color: var(--green);
  padding: 30px;
  border-bottom: 6px solid var(--red);
  background-image: linear-gradient(
    to right,
    #264653,
    #264653,
    #264653,
    #264653,
    #264653,
    #24424e,
    #213d4a,
    #1f3945,
    #1a303a,
    #142730,
    #0f1e26,
    #08161c
  );
}
.mainLogoContainer {
  font-size: 2rem;
  font-weight: bold;
  margin-right: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.mainLogo {
  width: 250px;
}
.mainLogo img {
  width: 100%;
}
.logoImg {
  width: 260px;
}
.mainLogoIcon {
  font-size: 60px;
  color: var(--mint-white);
}
.mainLogo span {
  text-decoration: underline;
}
.signInLink,
.signUpLink {
  margin: 0 5px;
}
.navbarDisplayName {
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.1s ease;
  display: flex;
  align-items: center;
}
.navbarDisplayName:hover {
  color: var(--orange);
}
.navbarDisplayName:hover .profilePictureContainerNavbar {
  border-color: var(--orange);
}
.userNameAndPictureLi {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s ease;
  padding: 5px;
}
/* .profilePictureContainerNavbar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./assets/png/blank_profile.png") center no-repeat;
  background-size: cover;
  border: 1px solid var(--blue);
  border-radius: 50%;
  margin-right: 8px;
} */
.profilePictureContainerNavbar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid black;
  background: url("./assets/png/blank_profile.png") center no-repeat;
  background-size: cover;
  margin-right: 8px;
  position: relative;
}
.profilePictureContainerNavbar img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.logoutBtn {
  /* background-color: var(--blue); */
  color: var(--orange);
  height: 35px;
  width: 35px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.1s ease;
}
.logoutIcon {
  font-size: 1.7rem;
}
.logoutBtn:hover {
  color: var(--mint-white);
}

/* home */
.home {
  border-top: 6px solid var(--yellow);
  border-bottom: 6px solid var(--yellow);
  min-height: 100vh;
}
.homeContainer {
  display: flex;
  margin: auto;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 80%;
  max-width: 1400px;
  padding: 50px;
  margin-top: 70px;
  margin-bottom: 50px;
}
.homeTextContainer {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.homeMainText {
  font-size: 2.8rem;
}
.homeParagraph {
  margin-top: 50px;
  margin-bottom: 10px;
}
.mobileIcons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.mobileIcon {
  color: #666;
  transition: color 0.1s ease;
  cursor: pointer;
}
.mobileIcon:hover {
  color: black;
}
.homeImageContainer {
  width: 50%;
}
.homeImage {
  width: 100%;
}
/* profile */
.profileContainer {
  border-top: 6px solid var(--yellow);
  border-bottom: 6px solid var(--yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.profileTitle {
  font-size: 2rem;
  margin: 30px 0;
}
.profileHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 80%;
  max-width: 1400px;
  padding: 20px 30px;
  margin-top: 30px;
  color: transparent;
}
.editModeActive {
  background-color: #f6f6f6;
  border: 1px solid var(--green);
}
.progress {
  height: 5px;
  background-color: var(--orange);
  /* color: transparent; */
  margin: 10px 0;
}
/* .profilePictureContainer {
  width: 100px;
  height: 100px;
  background: url("./assets/png/blank_profile.png") center no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 50%;
} */
.profilePictureContainer {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid black;
  background: url("./assets/png/blank_profile.png") center no-repeat;
  background-size: cover;
  /* background-color: black; */
  position: relative;
}
.profilePictureContainer img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.profilePictureContainer > input {
  display: none;
}
.profileName {
  width: 100%;
  border: none;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bolder;
  color: black;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid transparent;
}
.profileEmail {
  width: 100%;
  border: none;
  text-align: center;
  color: black;
  padding: 5px;
  border: 1px solid transparent;
  background-color: transparent;
}
.profileName:focus {
  border: 1px solid var(--green);
}
.profileEmail:focus {
  border: 1px solid var(--green);
}
.inputActive {
  background-color: #ccc;
}
.editProfileIcon {
  position: absolute;
  top: 6px;
  right: 8px;
  font-size: 1.5rem;
  color: var(--red);
  cursor: pointer;
  transition: color 0.1s ease;
}
.editProfileIconTick {
  color: green;
}
.editProfileIconTick:hover {
  color: lime !important;
}
.editProfileIcon:hover {
  color: var(--orange);
}
.profileForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 80%;
  max-width: 1400px;
  padding: 20px;
  margin-top: 30px;
}
.buttonContainer {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.buttonContainer div {
  margin-bottom: 10px;
  padding: 10px 30px;
}
.profileForm input {
  margin: 10px 0;
  min-width: 300px;
  width: 50%;
}
.profileForm input {
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
}
.expenseTitleDiv {
  width: 50%;
  min-width: 300px;
  max-width: 600px;
}
.expenseAmountDiv {
  width: 50%;
  min-width: 300px;
  max-width: 600px;
}
#expenseTitle {
  /* this is a font awesome icon https://fontawesome.com/license */
  background: url("./assets/svg/pen.svg") #ffffff 2.5% center no-repeat;
  background-size: 20px 20px;
  width: 100%;
}
#expenseAmount {
  /* this is a font awesome icon https://fontawesome.com/license */
  background: url("./assets/svg/euro.svg") #ffffff 2.5% center no-repeat;
  background-size: 20px 20px;
  width: 100%;
}
#expenseDate {
  cursor: pointer;
}
.addBtn {
  width: 300px;
  margin: 10px 0;
  width: 50%;
  min-width: 300px;
  max-width: 600px;
}
.profileExpenses {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 80%;
  max-width: 1400px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 200px;
}
.totalsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}
.balanceAmount {
  margin-left: 20px;
  font-size: 2rem;
}
.expensesList {
  width: 100%;
}
.expenseItem {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid var(--blue);
  /* border-radius: 10px; */
  color: var(--blue);
  padding: 10px;
  width: 100%;
  margin: 15px 0;
  font-weight: bold;
  background-color: var(--mint-white);
  cursor: pointer;
  transition: background-color 0.1s ease;
  /* -----> remove this later <------ */
  border-left: 6px solid var(--red);
}
.expenseItem:hover {
  /* background-color: white; */
  /* border-color: var(--green); */
}
.expenseItemTitle {
  margin: auto;
}
.expenseItemAmount {
}
.negativeColor {
  color: var(--red);
}
.incomeColor {
  color: var(--green);
}
.positiveColor {
  color: var(--green);
}
.deleteIcon {
  font-size: 1.4rem;
  color: var(--blue);
  opacity: 0.6;
  margin-left: 25px;
  transition: color 0.1s ease;
  transition: opacity 0.1s ease;
}
.deleteIcon:hover {
  color: var(--orange);
  opacity: 1;
}
/* sign-in & sign-out*/
.signUpContainer {
  border-top: 6px solid var(--yellow);
  border-bottom: 6px solid var(--yellow);
  min-height: 100vh;
}
.signInContainer {
  border-top: 6px solid var(--yellow);
  border-bottom: 6px solid var(--yellow);
  min-height: 100vh;
}
.signInForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  width: 80%;
  background-color: #ffffff;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 50px;
  padding: 50px;
  margin-bottom: 50px;
}
.signInUpTitle {
  font-size: 2rem;
  margin: 30px 0;
  text-align: center;
}
.signInOutEmail {
  background: url("./assets/svg/personIcon.svg") #ffffff 2.5% center no-repeat;
  margin: 10px 0;
  width: 350px;
}
.signInOutPassword {
  background: url("./assets/svg/lockIcon.svg") #ffffff 2.5% center no-repeat;
  margin: 10px 0;
  width: 350px;
}
.signInOutName {
  background: url("./assets/svg/badgeIcon.svg") #ffffff 2.5% center no-repeat;
  margin: 10px 0;
  width: 350px;
}
.passwordDiv {
  position: relative;
}
.passwordDiv,
.emailDiv,
.nameDiv {
  margin-top: 10px;
}
.showPassword {
  cursor: pointer;
  position: absolute;
  top: 12%;
  right: 1%;
  padding: 1rem;
}
.signInUpBtn {
  margin-top: 200px;
  width: 350px;
}
.forgotPassword {
  color: var(--green);
  transition: color 0.1s ease;
  margin-top: 10px;
}
.forgotPassword:hover {
  color: var(--blue);
}
.signInUpInstead {
  color: var(--green);
  transition: color 0.1s ease;
  margin-top: 20px;
}
.signInUpInstead:hover {
  color: var(--blue);
}
/* forgot password */
.forgotPasswordContainer {
  border-top: 6px solid var(--yellow);
  border-bottom: 6px solid var(--yellow);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forgotPasswordTitle {
  font-size: 2rem;
  margin: 30px 0;
  text-align: center;
}
.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  width: 80%;
  background-color: #ffffff;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 50px;
  padding: 50px;
}
.forgotPasswordBtn {
  margin-top: 200px;
  width: 350px;
}
/* footer */
.footerContainer {
  display: flex;
  justify-content: center;
  min-height: 150px;
  align-items: center;
  background-color: var(--blue);
  padding: 30px;
  border-top: 6px solid var(--red);
  position: relative;
  background-image: linear-gradient(
    to right,
    #264653,
    #264653,
    #264653,
    #264653,
    #264653,
    #24424e,
    #213d4a,
    #1f3945,
    #1a303a,
    #142730,
    #0f1e26,
    #08161c
  );
}
.socialLinksContainer {
}
.footerLinksContainer {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  color: var(--mint-white);
  margin-top: 120px;
  margin-bottom: 100px;
}
.footerPageHeader {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--red);
  margin-bottom: 15px;
}
.footerPage {
  color: var(--mint-white);
  cursor: pointer;
  transition: color 0.1s ease;
  margin-bottom: 3px;
  font-size: 1.2rem;
}
.footerPage:hover {
  color: var(--yellow);
}
.copyrightContainer {
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--mint-white);
}
.copyrightContainer a {
  color: var(--mint-white);
  transition: color 0.1s ease;
}
.copyrightContainer a:hover {
  color: var(--yellow);
}
.footerLogoContainer {
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 0;
}
.socialLinksContainer {
  text-align: center;
}
.socialLink {
  font-size: 2.3rem;
  color: var(--green);
  transition: color 0.1s ease;
}
.socialLink:hover {
  color: var(--yellow);
}

/* spinner */
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingSpinner {
  width: 120px;
  height: 120px;
  border: 10px solid;
  border-color: var(--green) transparent var(--green) transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
